@import "compass/css3";

/* Colors */
.navcolor{
  background: rgb(43,39,73);
  background: linear-gradient(0deg, rgba(43,39,73,1) 0%, rgba(59,55,89,1) 100%);
}

.pink{
  color:#CF8DA7;
}
.darkpink{
  color:#AA5377;
}

.blue{
  color:#084D6E;
}

/* Text definitions */
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
h1, h2, h3, h4{
  font-family: 'ABeeZee', sans-serif;
}

body{
  background-color: #f7fff7;
  overflow-x: hidden;
}

.navbar-collapse {
  flex-grow: 0!important;
}

.logo{
  width: 7em;
  /* margin-top: -9px; */
}


/* Botones */
#saberMas{
  padding: 5px 18px;
  border: 2px solid #FFF;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
}

#saberMas:hover{
  background: linear-gradient(180deg, #084D6E 0%, #0A608A 100%);
  border-radius: 20px;
  border: none;
}

#portada{
  background-image: url(../img/ali-abdul-rahman-3kEkV4Aj0Lc-unsplash.jpg);
  min-height: 58vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

#tautor, #tautor a, #tautor a:hover{
  right: 10%;
  bottom: 5%;
  color: #ffffff2b;
  text-decoration: none;
}

.img-profile{
  height: 20em;
  overflow: hidden;
  border-radius: 50%;
  width: 20em;
  background-image: url(../img/Profile.JPG);
  background-size: cover;
  margin-left: auto;
  margin-right: auto; 
}

.works{
  width: 100%;
  height: 33em;
}
.w0{
  height: 28em !important;
  overflow: hidden;}

/* Media query mobile */
@media only screen and (max-width: 768px) {
  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  h1{
    font-family: 'ABeeZee', sans-serif;
    font-size: 32px;
  }
  h2{
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
  }

  #portada{
    min-height: 58vh;
  }
  .img-profile{
    height: 15em;
    width:15em;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .textBox{
    font-size: 16px;
    top: 10%
  }

  #tautor{
    text-align: center;
    bottom:-1%
  }

  .works{
    width: 100%;
    height: auto;
  }
  
  .w0{
    height: 17em !important;
    overflow: hidden;
  }
  
}
 /* Media query desktop  */
@media only screen and (min-width: 1280px) {
   #portada{
    height: 68vh!important;
    background-position-y: 92%;
  }
  .img-profile{
    margin-top: 10%;
  }

  .textBox{
    font-size: 25px;
    position: relative;
    top: 24%;
  }

  #tautor{
    margin: 2em 0 0 auto;
  }

  #saberMas{
    width: 119px;
    height: 39px;
    top: 12vh;
    position: relative;
  }
}

@media only screen and (min-width: 1301px) {
   #portada{
    background-position-y: 92%;
    height: 58vh !important;
  }

  #tautor{
    margin: 5em 0 0 auto;
  }

  .img-profile{
    margin-top: 16%;
  }

  .textBox{
    font-size: 25px;
    position:relative;
    top:24%;
  }

  #saberMas{
    width: 119px;
    height: 39px;
    top: 12vh;
    position: relative;
  }
}